

.heading{
    
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 6rem 0 0 0;
    background: rgba(255, 51, 153, .05);
}
.heading span{
    color:var(--pink);
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.about .row .vedio-container{
    flex: 1 1 40rem;
    position: relative;
   
}
.about .row .vedio-container video{
    margin: 0px 15%;
    width: 50%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 50%;
    object-fit: cover;
}
.about .row .content{
    flex: 1 1 40rem;
    height:300px ;
   
}
.about .row .vedio-container h3{
    position: absolute;
    top: 50% ;
    transform: translateY(90%);
    font-size: 2.5rem;
    width: 50%;
    margin: 0px 15%;
    background: #fff;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;


}

.about .row .content h3{
    font-size: 4rem;
    color: #333;
}

.about .row .content p{
    font-size: 2rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height:3.6rem ;

}



/*media query*/
@media(max-width:997px){
    .about .row .vedio-container video{
  
    width: 60%;}
    .about .row .vedio-container h3{
     width: 60%;
   
}

}
@media(max-width:640px){
  .heading{
  
    font-size: 4rem;
   }  
   .about .row .vedio-container video{
   
   margin: auto;
   margin-left: 20%;
    
   
 width: 60%;
}
.about .row .vedio-container h3{
     width: 60%;
    margin:auto;
     margin-left: 20%;
      transform: translateY(260%);
}
.about .row .content{
    padding-top: 5%;
    flex: 1 1 40rem;
    height:300% ;
    text-align: center;
}
.about .row .content a{
    margin-top: 3%;
    margin-bottom: 3%;
}
.about .row .content p{
    font-size: 2.5rem;
    
    padding-top: 2.5rem;
    line-height:4rem ;

}
}