.contact .row{
 
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
}
.contact .row form{
margin-top: 2%;
flex: 1 1 35rem;

padding: 2rem 2.5rem;
box-shadow: 0 .5 1.5rem rgba(0, 0, 0,.1);
border: .1rem solid rgba(0, 0, 0,.1);
background-color: #fff;
border-radius: 1.7rem;
}
.contact .row .image{
 
  padding-left: 10%;
flex: 1 1 30rem;
}
.contact .row .image img{

width: 100%;
height: 50rem;
object-fit: cover;

}
.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: 0.3rem solid rgba(0, 0, 0,.1);
    border-radius: 1.5rem;
    margin: .7rem 0;
    width: 100%;

}
.contact .row form .box:focus{
    border-color: var(--pink);

}
.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.contact .row form .btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.contact .row form .btn:hover{
    
   background-color: var(--pink);
}
/*media quiery*/
@media(max-width:522px) {
    .contact .row .image{
 margin-top: 2%;
  padding-left: 0%;


}
.contact .row form .box{
   
    font-size: 2rem;
}
.contact .row form .btn{
     font-size: 2rem;
   
}
}
