footer .box-container{
    display: flex;
    flex-wrap: wrap;
gap: 1.5rem;
justify-content: space-evenly;
}

footer .box-container .box{

    width: 25rem;
text-align: center;
}


footer .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}
footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 2.1rem;
    padding: 1rem 0;
}
footer .box-container .box a:hover{
 
    color: var(--pink);
    text-decoration: underline ;
}
footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}
footer .credit span{
    color: var(--pink);
}